<div ng-init="getPostById()">
    <h3 class="text-primary">POST</h3>
    <h6 class="text-muted">Post Title :</h6><P>{{post.title}}</P>
    <h6 class="text-muted">Post Body :</h6><p>{{post.body}}</p>

    <h3 class="text-primary">COMMENTS</h3>

    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="comment in comments | filter:q | startFrom:currentPage * pageSize | limitTo:pageSize">
                <td>{{comment.email}}</td>
                <td>{{comment.name}}</td>
                <td>{{comment.body}}</td>
            </tr>
        </tbody>
    </table>


    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
</div>