<section class="dashboard_section_here content-wrapper" ng-init="post_data();">
        <div class="container_margin">
            <section class="Search-panel">
                <form data-ng-submit="updatePost(title,body,id)" name="form.prcfrm" novalidate>
                    <div class="alert alert-danger alert-dismissible" ng-show="passerrorMsgAlert">
                        &nbsp;{{passerrorMsgs}}
                    </div>
                    <div class="alert alert-success alert-dismissible" ng-show="passsuccessMsgAlert">
                            &nbsp;{{passsuccessMsgs}}
                        </div>
                    <div class="add-section">
                        <div class="adva_serach_head"> Edit Post</div>
                    </div>
                    <br />
                    <fieldset>
                        <div class="search-hed">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="inn_relat form-group">
                                        <label class="lab_add">Title<span>*</span></label>
                                        <input type="text" class="field form-control" id="text-input" data-ng-model="title" name="quantity"  required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="inn_relat form-group">
                                        <label class="lab_add">Body<span>*</span></label>
                                        <input type="text" class="field form-control" id="text-input" data-ng-model="body" name="strawClipPrice" required>
                                    </div>
                                </div>
                            </div>                                
                            <div class="row">
                                <div class="col-md-12 submit">
                                    <button type="submit" class="btn btn-primary sub_btn"><i class="fa fa-paper-plane"
                                    aria-hidden="true"></i>Submit</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </section>
            <!-- Advance Search panel close here -->
        </div>
    </section>