<button type="button" class="btn btn-light" ng-click="addPosts(post.id)">Add Post</button>
<h3 class="text-primary" ng-init="init()"> POSTS LIST</h3>

<input ng-model="q" id="search" class="form-control" placeholder="Filter text">

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="post in posts  | filter:q | startFrom:currentPage * pageSize | limitTo:pageSize">
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td><span>
                    <button type="button" class="btn btn-light" ng-click="editPosts(post.id)">Edit</button>
                    <button type="button" class="btn btn-light" ng-click="viewPosts(post.id)">View</button>
                </span>
            </td>
        </tr>

    </tbody>
</table>

<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
    Previous
</button>
{{currentPage+1}}/{{numberOfPages()}}
<button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
    Next
</button>